body {
    background-color: #F8F9D7;
    color: #000000;
}

.curr-display {
    margin-top: 25px;
    font-size: 1.5rem;
}

.calculator {
    background-color: #6E85B7;
    border: .30rem solid black;
    border-radius: 1rem;
    height: 425px;
    width: 300px;
    padding: 1rem 1rem;
}

.calc-display {
    height: 75px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border: 1px solid black;
    border-radius: .25rem;
    margin-bottom: .30rem;
    flex-direction: column;
    padding-right: .30rem;
}

.additional-buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: .30rem;
}

.clear-button {
    background-color: #A2C5EB;
}

.delete-button {
    background-color: #FF7377;
}

.clear-button, .delete-button {
    border: 1px solid black;
    border-radius: .25rem;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-buttons {
    gap: .30rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: auto;
    height: 300px;
}

.calc-display, .button {
    background-color: #B2C8DF;
}

.button {
    display: flex;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}